@font-face {
    font-family: 'OpenSansCondensed-Bold';
    src: url('../fonts/OpenSansCondensed-Bold.woff') format('woff'),
         url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
@font-face {
    font-family: 'OpenSansCondensed-Light';
    src: url('../fonts/OpenSansCondensed-Light.woff') format('woff'),
         url('../fonts/OpenSansCondensed-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }


@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff'),
         url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
  
  
  
  
